input {
    border: 0px;
    border-bottom: 2px solid lightgrey;
}
input[placeholder] {
    color: black; 
 }

 select {
    border: 0px;
    border-bottom: 2px solid lightgrey; 
 }


 .mar-bo-10 {
    margin-bottom: 30px;
  }
  
  .mar-tp-10 {
    margin-top: 30px;
  }