<header>
	<nav class="navbar navbar-dark bg-info mt-4">
	  <a class="navbar-brand" href="/">Leave Management</a>
	  <div class="navbar-expand mr-auto">
		<div class="navbar-nav">
		  <a class="nav-item nav-link" routerLinkActive="active" routerLink="/app/leaves" href="#"><i class="fa fa-list" aria-hidden="true"></i>
			 List</a>
		  <a class="nav-item nav-link" routerLinkActive="active" routerLink="/app/add-leave" href="#"><i class="fa fa-plus" aria-hidden="true"></i>
			 Add</a>
		</div>
	  </div>
	</nav>
</header>
